/.vscode
/bin
/obj
appsettings.Development.json
appsettings.json
UuidMasterApi.code-workspace
Properties/launchSettings.json
docker-compose.debug.yml
appsettings.Production.json
appsettings.Development.json
docker-compose.production.yml
app.settings.Production.json
