/.vscode
/UuidMasterApi/appsettings.Development.json
/UuidMasterApi/appsettings.json
/UuidMasterApi/appsettings.Production.json
/UuidMasterApi/bin
/UuidMasterApi/obj
/UuidMasterApiTests/bin
/UuidMasterApiTests/obj
UuidMasterApi.code-workspace
