/.vscode
/bin
/obj
app.settings.Production.json
appsettings.Development.json
appsettings.Development.json
appsettings.json
appsettings.Production.json
docker-compose.debug.yml
docker-compose.production.yml
Properties/launchSettings.json
UuidMasterApi.code-workspace
